<!DOCTYPE html>
<html>
<body>
  <h1>WALLIFY PICTURES</h1>
  <img src="{{url_for('static', filename='1.jpg')}}"/>
  <img src="{{url_for('static', filename='2.jpg')}}"/>
  <img src="{{url_for('static', filename='3.jpg')}}"/>
  <img src="{{url_for('static', filename='4.jpg')}}"/>
  <img src="{{url_for('static', filename='5.jpg')}}"/>
  <img src="{{url_for('static', filename='6.jpg')}}"/>
  <img src="{{url_for('static', filename='7.jpg')}}"/>
  <img src="{{url_for('static', filename='8.jpg')}}"/>
  <img src="{{url_for('static', filename='9.jpg')}}"/>
  <img src="{{url_for('static', filename='10.jpg')}}"/>
  <img src="{{url_for('static', filename='11.jpg')}}"/>
  <img src="{{url_for('static', filename='12.jpg')}}"/>
  <img src="{{url_for('static', filename='13.jpg')}}"/>
  <img src="{{url_for('static', filename='14.jpg')}}"/>
  <img src="{{url_for('static', filename='15.jpg')}}"/>
  <img src="{{url_for('static', filename='16.jpg')}}"/>
  <img src="{{url_for('static', filename='17.jpg')}}"/>
  <img src="{{url_for('static', filename='18.jpg')}}"/>
</body>
</html>
