:root {
    --primary-color: #333;
    --secondary-color: #fff;
    --third-color: #43D99D;
    --fourth-color: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--primary-color);
    margin: 0;
    position: relative;
    min-height: 100vh;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}


/* a:visited{
    color:var(--third-color);
  } */

ul {
    list-style: none;
}

.container {
    margin: auto;
    overflow: hidden;
}


/* HEADER & HEADER SPACING*/

.header {
    display: flex;
    background-color: var(--primary-color);
    z-index: 100000;
    border-bottom: 1px solid #000000;
}

h1 {
    color: var(--third-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
    padding: 10px 10px;
    margin: 0;
    white-space: nowrap;
}

.header .container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


/* name spacing */

.name {
    justify-self: center;
}


/* navbar spacing */

nav {
    grid-column-end: 8;
    white-space: nowrap;
    display: inline-block;
}


/* NAVBAR */

button {
    background-color: unset;
    border: none;
    cursor: pointer;
    font-size: unset;
    box-shadow: none;
    outline: none;
}

nav a,
.link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--secondary-color);
    display: inline-block;
}

.link {
    font-weight: 400;
}

nav a:hover {
    color: var(--third-color);
}

.link:hover {
    color: var(--third-color);
}

ul li {
    display: inline-block;
}

ul li:last-child {
    margin-right: 60px;
}

ul ul li:last-child {
    margin-right: 0px;
}

ul li a,
.link {
    text-decoration: none;
    padding: 30px 15px 5px 15px;
    display: block;
    color: var(--secondary-color);
}

ul ul li a,
.link {
    text-decoration: none;
    padding: 5px 10px 0px 10px;
    display: block;
}

ul ul {
    position: absolute;
    min-width: auto;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

ul ul li {
    display: block;
}

ul li:hover ul {
    display: block;
}

ul li i {
    float: right;
    padding-left: 5px;
}

nav div {
    color: var(--secondary-color);
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media(max-width: 768px) {
    .header .container {
        align-items: center;
    }
    nav div {
        display: grid;
        position: relative;
        grid-column-end: 8;
        justify-content: center;
        color: var(--secondary-color);
    }
    nav div .close {
        display: none;
    }
    nav div:hover {
        color: var(--third-color);
    }
    ul {
        display: none;
        position: static;
    }
    ul li {
        display: block;
    }
    ul li i {
        padding: 0px;
    }
    ul li a,
    .link {
        padding: 5px;
    }
    ul ul li a,
    .link {
        text-transform: none;
        text-decoration: none;
        justify-content: center;
        justify-self: center;
        padding: 5px 0px 0px 25px;
        display: block;
    }
    ul ul {
        position: static;
        box-shadow: none;
    }
}

/* PAGE HEADERS */
/* PAGE HEADERS */

.base .container {
    width: 80%;
    margin-top: 30px;
}

h2 {
    color: var(--secondary-color);
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 25px;
    font-size: 2.25vw;
    text-align: center;
}

/* WALLPAPER */

.images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.images .box {
    position: relative;
}

.images .box .mover {
    width: calc(75vw/6);
    height: calc(75vw/6);
}

.wallpaper {
    width: 75%;
    margin: auto;
    margin-top: 20px;
}

.images .box:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    transition: 0.5s;
    z-index: 9;
}

.trackname {
    width: 65vw;
    height: 40px;
    margin-left: 17.5vw;
    margin-top: 40px;
    display: flex;
    align-content: center;
    background: #43D99D;
    border-radius: 10px;
}

.trackname .static {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: white;
    letter-spacing: 1em;
    word-spacing: 1em;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
}

.dynamic {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: white;
    margin: auto;
    text-align: center;
}

#box1 {
    background-size: cover;
    background-position: right;
    background-image: url(../1.jpg);
}

#box2 {
    background-size: cover;
    background-position: right;
    background-image: url(../2.jpg);
}

#box3 {
    background-size: cover;
    background-position: right;
    background-image: url(../3.jpg);
}

#box4 {
    background-size: cover;
    background-position: right;
    background-image: url(../4.jpg);
}

#box5 {
    background-size: cover;
    background-position: right;
    background-image: url(../5.jpg);
}

#box6 {
    background-size: cover;
    background-position: right;
    background-image: url(../6.jpg);
}

#box7 {
    background-size: cover;
    background-position: right;
    background-image: url(../7.jpg);
}

#box8 {
    background-size: cover;
    background-position: right;
    background-image: url(../8.jpg);
}

#box9 {
    background-size: cover;
    background-position: right;
    background-image: url(../9.jpg);
}

#box10 {
    background-size: cover;
    background-position: right;
    background-image: url(../10.jpg);
}

#box11 {
    background-size: cover;
    background-position: right;
    background-image: url(../11.jpg);
}

#box12 {
    background-size: cover;
    background-position: right;
    background-image: url(../12.jpg);
}

#box13 {
    background-size: cover;
    background-position: right;
    background-image: url(../13.jpg);
}

#box14 {
    background-size: cover;
    background-position: right;
    background-image: url(../14.jpg);
}

#box15 {
    background-size: cover;
    background-position: right;
    background-image: url(../15.jpg);
}

#box16 {
    background-size: cover;
    background-position: right;
    background-image: url(../16.jpg);
}

#box17 {
    background-size: cover;
    background-position: right;
    background-image: url(../17.jpg);
}

#box18 {
    background-size: cover;
    background-position: right;
    background-image: url(../18.jpg);
}

/* DOWNLOAD */
.download{
    text-align:center;
    margin-top:30px;
}

.download button {
    cursor: pointer;
    outline: none;
    background-color: var(--primary-color);
    color:var(--third-color);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    border: 1px solid var(--third-color);
    border-radius: 50px;
    padding: 10px 40px;
}

.download button:hover {
    background-color: var(--third-color);
    color: var(--secondary-color);
}

/* FOOTER */
.footer .container{
    display: flex;
    justify-content: flex-end;
  }
  
  .footer{
    padding:20px;
    margin-top:10px;
    width: 100%;
    background-color: var(--primary-color);
  } 


  h5 {
    text-transform: uppercase;
    color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}
/* 


/* FOOTER */
.footer .container{
    display: flex;
    justify-content: flex-end;
  }
  
  .footer{
    padding:20px;
    margin-top:10px;
    width: 100%;
    background-color: var(--primary-color);
  } 


  h5 {
    text-transform: uppercase;
    color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}
/* 


.bottom-navbar {
    margin-top: 20px;
}

.bottom-navbar .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.leftbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 25px;
}

.rightbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 70%;
    columns: #000000;
    color: white;
    z-index: 99;
    padding-right: 30px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-right: 15px;
    color: white;
    text-transform: uppercase;
}

*/